.footer{
    background: #8fbc8f;
    padding-top: 70px;
    padding-bottom: 0;

    .footer__about{
        margin-bottom: 30px;

        .footer__about_logo{
            margin-bottom: 15px;
            display: inline-block;
        }
        ul li{
            font-size: 16px;
            color: #333;
            line-height: 36px;
            list-style: none;

        }
    }

    .footer__widget{
        margin-bottom: 30px;
        overflow: hidden;

        h4{
            color: #333;
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: 700;
        }

        ul{
            float: left;
            width: 50%;

            li{
                list-style: none;

                a{
                    color: #333;
                    font-size: 14px;
                    line-height: 32px;
                    text-decoration: none;
                }
            }
        }

        p{
            font-size: 14px;
            color: #333;
            margin-bottom: 30px;
        }

        form{
            margin-bottom: 30px;

            .input-group{
                display: flex;
                align-items: center;

                input{
                    width: 100%;
                    font-style: 16px;
                    padding-left: 20px;
                    color: #333;
                    height: 46px;
                    border: 1px solid #ededed;
    
                    ::placeholder{
                        color: #333;
                    }
                }
    
                button{
                    padding: 0 26px;
                    height: 46px;
                    min-width: max-content;
                }

            }
        }
    }

    .footer__widget_social{
        display: flex;
        align-items: center;
        gap: 15px;
        margin-top: 10px;
        font-size: 20px;

        div{
            :hover{
                background: #6ad86a;
                color: #fff;
                border-color: #fff;
            }

            svg{
                font-size: 20px;
                padding: 10px;
                color: #333;
                border: 1px solid #ededed;
                border-radius: 50%;
                transition: all, 0.3s;
                background: #fff;
                cursor: pointer;
            }
        }
    }
}