$bannerImg: "/assets/user/img/hero/banner.jpg";
@import "../../../../style/pages/all";


.header__top {
  background: #f5f5f5;
}

.header__logo{
    padding: 15px 0;
}

.header__menu{
    padding: 24px 0;

    ul{
        display: flex;
        justify-content: space-between;

        li{
            list-style: none;
            position: relative;

            a{
                text-decoration: none;
                font-size: 14px;
                color: #333;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 2px; //giãn cách chữ ra 2px 
                transition: all 0.3s;
                padding: 5px 0;
                display: block;
            }
        }

        li:hover .header__menu_dropdown{
            opacity: 1;
            visibility: visible;//Khi rê chuột vào li, menu con bên trong (.header__menu_dropdown) sẽ hiện ra.
        }
        
        .active a{
            color: #32cd32;
        } 

        .header__menu_dropdown{
            background-color: #8fbc8f;
            display: block;
            position: absolute;
            width: 180px;
            z-index: 9; //Xếp lớp trên các phần tử khác nếu bị che.
            padding: 5px 0;
            box-shadow: 0 2px 8px rgba(0,0,0,0.2);
            transition: all 0.3 ease;
            opacity: 0;//Mặc định ẩn menu con (bằng cách làm trong suốt và không cho nhìn thấy).
            visibility: hidden;

            li{
                a{
                    text-transform: capitalize;
                    font-weight: 400;
                    padding: 5px 10px;

                }

                :hover{
                    color: #00ff00;
                }
            }
        }
    }
}

.header__cart{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;

    ul {
        display: flex;
        margin-right: 25px;

        li{
            list-style: none;
            position: relative;
            margin-left: 20px;

            svg{
                font-size: 25px;
                color: #333;
            }

            span{
                color: #fff;
                background: #32cd32;
                position: absolute;
                height: 15px;
                width: 15px;
                border-radius: 50%;
                display: inline-block;
                text-align: center;
                line-height: 15px;
                font-size: 13px;
                font-weight: 500;
                left: 20px;
                top: -2px;
            }
        }
    }
}

.hero__categories{
    position: relative;

    .hero__categories_all{
        background: #8fbc8f;
        padding: 15px 25px 15px 40px;
        display: flex;
        align-items: center;
        cursor: pointer;
        color: #fff;
    
    
        svg{
            font-size: 16px;
            margin-right: 5px;
            font-weight: bold;
            font-size: 20px;
        }
    }

    ul{
        border: 1px solid #ededed;
        position: absolute;
        width: 100%;
        opacity: 1;
        background: #fff;
        transition: all 0.2s;
        li{
            a{
                text-decoration: none;
                background-color: transparent;
                font-size: 16px;
                color: #333;
                line-height: 30px;
                padding-left: 40px;
            }
            list-style: none;
            &:hover{
                background: #c5c2c2;

                a{
                    color: #333;
                }
            }
        }

        &.hidden{
            opacity: 0;
        }
    }

}

.hero__search_container{

    .hero__search_form{
        width: 680px;
        height: 50px;
        float: left;
        padding-left: 15px;
        margin-bottom: 15px;
        
        form{
            display: flex;
            align-items: center;
        }
    }

    input{
        border: none;
        height: 48px;
        font-size: 16px;
        color: #ededed;
        padding-left: 20px;
        border: 1px solid #ededed;
        width: 70%;

        :focus{
            outline: none;
            border: none;
        }
    }

    button{
        font-size: 14px;
        color: #ededed;
        font-weight: 800;
        text-transform: uppercase;
        display: inline-block;
        padding: 16px 30px 17px;
        background: #8fbc8f;
        border: none;
        height: 100%;
    }

    .hero__search_phone{
        display: flex;
        float: right;

        .hero__search_phone_icon{
            font-size: 25px;
            padding: 10px;
            background: #f5f5f5;
            text-align: center;
            border-radius: 50%;
            float: left;
            margin-right: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #32cd32;
        }

        .hero__search_phone_text{
            display: inline-block;

            p{
                color: #333;
                font-weight: bold;
                margin-bottom: 5px;
            }

            span{
                color: #6f6f6f;
                font-size: 14px;
            }
        }
    }

    .hero__item{
        background-image: url($bannerImg);
        background-size: cover;
        height: 410px;
        display: flex;
        align-items: center;
        width: 100%;
        margin-left: 15px;

        .hero__text{
            padding-left: 75px;

            span{
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 4px;
                color: #32cd32;
            }

            h2{
                font-size: 45px;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 52px;
                color: #ededed;
                margin: 10px 0;
            }

            p{
                font-size: 16px;
                color: #ededed;
                font-weight: 400;
                line-height: 26px;
                margin: 0 0 15px 0;
            }

            a{
                display: inline-block;
                font-size: 14px;
                padding: 10px 28px 10px;
                color: #fff;
                text-transform: uppercase;
                font-weight: 700;
                background: #32cd32;
                letter-spacing: 2px; //tăng khoảng cách giữa các ký tự
                text-decoration: none;
            }
        }
    }
}
